doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Tic Tac Toe Game
    link(rel="stylesheet" href="css/app.min.css")
  
  body
    main 
      h1
        | Tic Tac Toe 
        span#winner

      .game-grid
        .cell(data-index='0')
        .cell(data-index='1')
        .cell(data-index='2')
        .cell(data-index='3')
        .cell(data-index='4')
        .cell(data-index='5')
        .cell(data-index='6')
        .cell(data-index='7')
        .cell(data-index='8')

      button#restart-game.button Restart
    
    script(src="js/app.min.js")
