doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Карта пациента
    link(rel="stylesheet" href="css/app.min.css")
  
  body
    h1 Карта пациента
    form#patientForm
      label(for="ownerName") Имя и Фамилия владельца:
      input#ownerName(type="text" name="ownerName" required)
      br
      br

      label(for="phone") Телефон:
      input#phone(type="tel" name="phone" required)
      br
      br

      label(for="petName") Имя питомца:
      input#petName(type="text" name="petName" required)
      br
      br

      label(for="weight") Вес (кг):
      input#weight(type="number" name="weight" step="0.1" required)
      br
      br

      label(for="age") Возраст (лет):
      input#age(type="number" name="age" required)
      br
      br

      button(type="button" onclick="generatePDF()") Сгенерировать PDF

    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js")
    script(src="js/app.min.js")
