doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Login flow
		link(rel="stylesheet" href="css/app.min.css")

	body

		include partials/mixins.pug
		#loginTitle
			h1 Login form
		#step1.step
			form#loginForm
				label(for="email") Email:
				input(type="email" id="email" name="email" placeholder="Enter your email")
				#emailError.error

				label(for="password") Password:
				input(type="password" id="password" name="password" placeholder="Enter your password")
				#passwordError.error
				
				+button('Continue')(type="submit")

		#step2.step.hidden
			form#codeForm
				label(for="code") Provide Google Authenticator Code:
				#codeContainer.code-container
					input(type="text" maxlength="1" class="code-input" id="code1" autocomplete="off" autofocus)
					input(type="text" maxlength="1" class="code-input" id="code2" autocomplete="off")
					input(type="text" maxlength="1" class="code-input" id="code3" autocomplete="off")
					input(type="text" maxlength="1" class="code-input" id="code4" autocomplete="off")
					input(type="text" maxlength="1" class="code-input" id="code5" autocomplete="off")
					input(type="text" maxlength="1" class="code-input" id="code6" autocomplete="off")
				#codeError.error
				button(type="submit") Confirm

		#step3.step.hidden
			h2 Welcom to Dashboard!
			button#logoutButton Logout

		//Include project scripts
		script(src="js/app.min.js")
