doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Карта пациента
    link(rel="stylesheet" href="css/app.min.css")
  
  body
    h1 Your first title here
    
    script(src="js/app.min.js")
    script(src="js/three.min.js")
