doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Generate a color
    link(rel="stylesheet" href="css/app.min.css")
  
  body
    main
      .container
        .color-frame
        p Color name
        button(onclick="generateRandomColor()") Generate
    
    script(src="js/app.min.js")
